<template name="SideNav">

<nav class="side-nav">
  <ul>
    <li><a href="/ActiveAlarms"><i class="fa fa-medkit" aria-hidden="true"></i>Active Alarms</a></li>
    <li><a href="/Pending"><i class="fa fa-medkit" aria-hidden="true"></i>Pending </a></li>
    <li><a href="/SiteAccess"><i class="fa fa-pie-chart" aria-hidden="true"></i>Access </a></li>
    <li><a href="/PgConnection"><i class="fa fa-cog fa-2x" aria-hidden="true"></i>PG Connection </a></li>
    <li><a href="/ExceedSLA"><i class="fa fa-cog fa-2x" aria-hidden="true"></i>Exceed SLA</a></li>
    <li><a href="/WhatsApp"><i class="fa fa-cog fa-2x" aria-hidden="true"></i>WhatsApp</a></li>
    <li><a href="/Setting"><i class="fa fa-cog fa-2x" aria-hidden="true"></i>Setting</a></li>

  </ul>
</nav>




</template>
